:root {
  --primary-color: hsl(165, 60%, 40%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --bg-color: hsl(216, 18%, 16%);
  --bg-color-alt: hsl(213, 10%, 21%);
  --container-color: hsl(217, 18%, 14%);
  --border-color: hsl(210, 2%, 65%);
  --first-gradient: linear-gradient(
    0deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );

  --second-gradient: linear-gradient(
    180deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );

  --third-gradient: linear-gradient(
    0deg,
    var(--bg-color) 0%,
    var(--bg-color) 100%
  );

  --body-font: 'Jost', sans-serif;
  --second-font: 'Caveat', cursive;

  --biggest-font-size: 90px;
  --h1-font-size: 44px;
  --h2-font-size: 30px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --larger-font-size: 20px;
  --large-font-size: 16px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 13px;

  --shadow: 5px 5px rgb(255 255 255 / 10%);

  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}
/* ================================================================= */

.testimonials {
  background-image: var(--third-gradient);
}

.testimonials__container {
  text-align: center;
}

.testimonial__header {
  position: relative;
}

.testimonial__img {
  height: 180px;
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
  margin-bottom: 30px;
  vertical-align: middle;
}

.testimonial__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  background: var(--container-color);
  border-bottom-right-radius: 18px;
}

.testimonial__description {
  min-height: 110px;
}

.testimonial__name {
    font-size: var(--h4-font-size);
    margin-top: 30px;
}
